# This workflow will build a .NET project
# For more information see: https://docs.github.com/en/actions/automating-builds-and-tests/building-and-testing-net

name: Publish to Nuget

on:
  push:
    branches: [ "master" ]
  pull_request:
    branches: [ "master" ]

jobs:
  publish:

    runs-on: ubuntu-latest

    steps:
    - name: Check out Repo
      uses: actions/checkout@v2

    - name: Setup dotnet
      uses: actions/setup-dotnet@v3
      with:
        dotnet-version: 10.x

    - name: Pack
      run: dotnet pack Toolshed.Audit\\Toolshed.Audit.csproj -c Release

    - name: Publish to GitHub packages
      run: dotnet nuget push /home/runner/work/toolshed.audit/Toolshed.Audit/Toolshed.Audit/bin/Release/*.nupkg --api-key ${{ secrets.NUGET_KEY }} --source https://api.nuget.org/v3/index.json --skip-duplicate